<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.nodes.template.nstack">

    <application>
        <!-- nstack app id and key from build.gradle manifest placeholder -->

        <meta-data
            android:name="dk.nodes.nstack.appId"
            android:value="${appId}"
            tools:replace="android:value" />

        <meta-data
            android:name="dk.nodes.nstack.apiKey"
            android:value="${apiKey}"
            tools:replace="android:value" />

        <meta-data
            android:name="dk.nodes.nstack.env"
            android:value="staging"
            tools:replace="android:value" />

    </application>

</manifest>
